<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("Partials/_Meta")
    <title>@ViewData["Title"] - Sevkiyat Takip</title>
    @await Html.PartialAsync("Partials/_Links")
    @await RenderSectionAsync("Links", required: false)
</head>
<body>

    <div class="preloader">
        <img src="~/images/logos/favicon.png" alt="loader" class="lds-ripple img-fluid" />
    </div>

    <div id="main-wrapper">

        @await Html.PartialAsync("Partials/_LeftSidebar")

        <div class="page-wrapper">

            @await Html.PartialAsync("Partials/_Topbar")

            @await Html.PartialAsync("Partials/_MobileMenu")

            <div class="body-wrapper">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>

        </div>

    </div>
    <div class="dark-transparent sidebartoggler"></div>

    @await Html.PartialAsync("Partials/_Scripts")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
